<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>FOÖOD - {{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'fonts/LatoLatin/latolatinfonts.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/search.css') }}">

        <script src="{{ url_for('static', filename = 'scripts/view-orders.js') }}"></script>
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div id="header">
            <h1><a href="/">FOÖOD</a></h1>
        </div>
        <div id="content">
            <div id="search-form">
                <form action="" method="POST">
                    Username: <input type="text" name="username"><br>
                    Password: <input type="password" name="password"><br>
                    <input type="submit" value="View your Orders">
                </form>
            </div>
            <div id="search-results">
                {% if badlogin %}
                    <p>Bad login info! Try a different username/password</p>
                {% endif %}
                {% if not orders %}

                    <!--<p>No results found</p>-->
                {% else %}
                    <table>
                        {% for entry in orders %}
                        <tr>
                            <td>At {{ entry.time }} you ordered a ${{ entry.price }} meal</td>
                            <td><button onclick="cancelOrder({{ entry.id }}, '{{ username }}', {{ sessionID }})">Cancel Order</button></td>
                        </tr>
                        {% else %}
                        <tr>You've not made any orders yet!</tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </body>
</html>