<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>FOÖOD</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'fonts/LatoLatin/latolatinfonts.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}">

        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div id="header">
            <h1><a href="/">FOÖOD</a></h1>
        </div>
        <div id="content">
            <h2><a href="/chefs/search.html">Hire a Chef</a></h2>
            <h2><a href="/recipes/search-by-name.html">Find a Recipe by Name</a></h2>
            <h2><a href="/recipes/search-by-ingredients.html">Search using Ingredients</a></h2>
        </div>
    </body>
</html>