<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>FOÖOD - Green Eggs and Ham</title>
	<meta name="description" content="Create and discover recipes that have all your favorite flavors and ingredients. Then have one of our expertly trained chefs cook and deliver it to your house.">
	<meta name="author" content="THEFOÖOD">

	<link rel="stylesheet" href="fonts/LatoLatin/latolatinfonts.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/recipe.css">

	<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->
</head>

<body>
	<div id="nutrition" class="bounding-box">
		<div class="content">
			<h2>Nutrition Facts</h2>
			<p>Calories: 550
				<br>Calories from Fat: 0
				<br>Total Fat: 5g
				<br class="indent">Saturated Fat: 0g
				<br class="indent">Trans Fat
				<br>Cholesterol: 0mg
				<br>Total Carbohydrate: 35mg
				<br class="indent">Dietary Fiber: 3g
				<br class="indent">Sugars: 1g
				<br>Protein: 7g
				<br>
				<br>Vitamin A: 0%
				<br>Vitamin C: 0%
				<br>Calcium: 0%
				<br>Iron: 0%
			</p>
		</div>
	</div>
	<div id="main-content">
		<div id="title"><h1>Green Eggs and Ham</h1></div>
		<div id="recipe" class="bounding-box">
			<div id="instructions">
				<h2>Ingredients</h2>
				<ul>
					<li>1 x Egg</li>
					<li>1 x Hamm</li>
					<li>1 Liter of Green Food Coloring</li>
				</ul>

				<h2>Instructions</h2>
				<ol>
					<li>Cook the ham</li>
					<li>Cook the Egg, over-easy</li>
					<li>Apply green food coloring</li>
				</ol>
			</div>
		</div>
	</div>
</body>
</html>