body {
	color: white;
	background-image: url("../images/recipes-background.jpg");
	background-attachment: fixed;
	background-position: center;
	overflow: hidden;
}

.bounding-box {
	background-color: rgba(0, 0, 0, 0.5);	
}

#title {
	text-align: center;
}

#nutrition {
	position: absolute;
	left: 0;
	top: 0;
	width: 25%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#nutrition .content {
	color: black;
	background-color: rgba(255, 255, 255, 0.4);
	line-height: 200%;
	margin: 30px;
	margin-top: 45px;
	padding: 15px;
	padding-left: 25px;
	padding-top: 3px;
	height: 90%;
}

h1 {
	font-family: 'LatoLatinWebLight';
	font-size: 2.5em;
	font-stretch: expanded;
}

h2 {
	font-family: 'LatoLatinWebHairline';
	text-decoration: underline;
	font-size: 1.3em;
}

#main-content {
	position: absolute;
	left: 27.5%;
	top: 0;
	width: 70%;
	margin: 0;
	padding: 0;
}

#recipe {
	margin: auto;
	left: 0;
	top: 150px;
	width: 90%;
	padding: 15px;
	min-height: 600px;
}